.stat-bar {
    font-size: xx-large;
    width: 100%;
    justify-content: space-between;
    margin: 0 0 0 auto;
    color: aliceblue;
    display: flex;
}

.game {
    min-font-size: 10vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.quest {
    text-align: center;
    font-size: 10vh;
    color: aliceblue;
}

main {
    display: flex;
    flex-direction: column;
}

.level {
    margin-left: 10px;
}

.point {
    margin-right:  10px;
}

.button {
    margin: 20px 0 0 0;
    width: 100%;
    background: none;
}

.answer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.answer-form {
    font-family: Cambria, sans-serif;
    color: white;
    font-size: 4vh;
    border: #F64C72 6px solid;
    background: none;
    width: 100%;
}

.block-answer {
    width: auto;
}