header {
    flex-grow: 0;
    display: flex;
    background: #242582;
    width: 100%;
}

.logo {
    color: #F64C72;
    text-decoration: none;
    display: block;
    font-family: Tahoma, 'sans-serif';
    padding: 3vh;
    font-size: xxx-large;
}