{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form action="{{ url_for('login') }}" method="post" novalidate>
        {{ form.csrf_token  }}
        <p>
            {{ form.username.label }}
            {{ form.username }}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password }}
        </p>
        <p>{{ form.remember_me }} {{ form.remember_me.label }}</p>
        <button type="submit" class="button-reg">Войти</button>
    </form>
{% endblock %}